<div class="row">
  <div class="col-md-5">
    <h2>Sabores</h2>
    <table class="table table-hover">
      <thead>
        <th scope="col">Sabor</th>
        <th scope="col">Base</th>
      </thead>
      <tbody>
        <tr *ngFor="let flavor of flavors" (click)="selectFlavor(flavor)" (onmousehover)="updateBases()">
          <td>{{flavor.flavorName}}</td>
          <td>{{flavor.baseName}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning" (click)="createNewFlavor()">Nuevo</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <flavor-detail [flavor]="selectedFlavor" [bases]="bases" [createHandler]="createFlavor"
      [updateHandler]="updateFlavor" [deleteHandler]="deleteFlavor">
    </flavor-detail>
  </div>
</div>